<!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
        {% for item in sliders %}
            <div class="hero__items set-bg" data-setbg="img/hero/{{item.image}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                {# <h6>Summer Collection</h6> #}
                                <h2>{{item.title}}</h2>
                                <p>{{item.description | raw}}.</p>
                                <a href="{{item.btnUrl}}" class="primary-btn">Acheter maintenant <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->