<div class="form-widget">
    {% for image in field.value %}
        
        <a href="#" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#ea-lightbox-{{image.id}} ">
        <img src="/images/products/second/{{image.images}}" class="img-fluid">
        </a>
    
        <div id="ea-lightbox-{{image.id}}" class="ea-lightbox">
            <img src="/images/products/second/{{image.images}} ">
        </div>
        
    {% endfor %}
</div>